[server]
port=":{{ drone_port }}"

[server.ssl]
key="{{ drone_sslkey | default("") }}"
cert="{{ drone_sslcert | default("") }}"

[session]
secret="{{ drone_session_secret | default("") }}"
expires="{{ drone_session_expires }}"

[database]
driver="{{ drone_database_driver }}"
datasource="{{ drone_database_datasource }}"

[registration]
open={{ drone_open_invitations|bool|string|lower }}

[github]
client="{{ drone_github_client | default("") }}"
secret="{{ drone_github_secret | default("") }}"

[github_enterprise]
client="{{ drone_github_enteprise_client | default("") }}"
secret="{{ drone_github_enteprise_secret | default("") }}"
api="{{ drone_github_enteprise_api_url | default("") }}"
url="{{ drone_github_enteprise_url | default("") }}"
private_mode={{ drone_github_enteprise_private_mode|bool|string|lower | default("") }}

[bitbucket]
client="{{ drone_bitbucket_client | default("") }}"
secret="{{ drone_bitbucket_secret | default("") }}"

[gitlab]
url="{{ drone_gitlab_url | default("") }}"

[gogs]
url="{{ drone_gogs_url | default("") }}"
secret="{{ drone_gogs_secret | default("") }}"

[smtp]
host="{{ drone_smtp_server | default("") }}"
port="{{ drone_smtp_port | default("") }}"
from="{{ drone_smtp_address | default("") }}"
user="{{ drone_smtp_username | default("") }}"
pass="{{ drone_smtp_password | default("") }}"

[docker]
cert="{{ drone_docker_cert | default("") }}"
key="{{ drone_docker_cert | default("") }}"

[worker]
nodes=[
{% for worker in drone_worker_nodes %}
  "{{ worker }}"{{ "," if not loop.last else "" }}
{% endfor %}
]
